<h1>User Form</h1>
<div ng-controller="userAddCtrl">
    <h3>{{msg}}</h3>
    <div class="add" ng-show="addVar">
        <form>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="username">username *:</label>
                        <input type="text" class="form-control" id="username"  ng-required="true" ng-model="username" placeholder="enter username">
                        <p class="error" id="usernameError"></p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="password">password *:</label>
                        <input type="password" class="form-control"  ng-required="true" id="password" ng-model="password" placeholder="enter password">
                        <p class="error" id="passwordError"></p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <button ng-click="saveUser()" class="btn btn-primary">save changes</button>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <div class="showUser" ng-show="showVar">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="username">username :</label>
                        <p class="well well-sm">{{userinfo.username}}</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="password">password :</label>
                        <p class="well well-sm">{{userinfo.password}}</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <button class="btn btn-primary" ng-click="addNewUser()">add new</button>
                    </div>
                </div>
            </div>

    </div>

<!--
headers: {'Content-Type': 'application/x-www-form-urlencoded'},
-->
</div>
